APP_NAME=Nestjs
APP_ENV=local
APP_TIMEZONE="America/Lima"

DB_CONNECTION=postgres
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=postgres
DB_USERNAME=postgres
DB_PASSWORD=super_secure_root_password
DB_SCHEMA=public

HASH_DRIVER=bcrypt
BCRYPT_ROUNDS=12

JWT_SECRET=tu_secreto_jwt_aqui

JWT_ACCESS_TTL=3600
JWT_REFRESH_TTL=604800

REDIS_HOST=127.0.0.1
REDIS_PORT=6379

SESSION_CLEANUP_CRON=0 */6 * * *
